<%- include('includes/head', { tituloPagina: 'Agregar Motocicleta' }) %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= tituloPagina %></title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <h1><%= tituloPagina %></h1>
    <form action="/editar-moto" method="POST">
        <input type="hidden" name="id" value="<%= moto.id %>">
        <input type="text" name="nombre" value="<%= moto.nombre %>" required>
        <input type="text" name="imagen" value="<%= moto.imagen %>" required>
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>

<%- include('includes/foot') %>
