<%- include('includes/head', { tituloPagina: 'Lista de Motocicletas' }) %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= tituloPagina %></title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <h1><%= tituloPagina %></h1>
    <ul>
        <% motocicletas.forEach(moto => { %>
            <li>
                <img src="<%= moto.imagen %>" alt="<%= moto.nombre %>" width="100">
                <%= moto.nombre %>
            </li>
        <% }) %>
    </ul>
    <a href="/motocicletas/agregar-moto">Agregar una nueva motocicleta</a>
</body>
</html>


<%- include('includes/foot') %>
