<%- include('includes/head', { tituloPagina: 'Lista de Motocicletas' }) %>

<div class="container mt-4">
    <h1>Lista de Motocicletas</h1>
    <% motocicletas.forEach(motocicleta => { %>
        <div>
            <h3><%= motocicleta.nombre %></h3>
            <img src="<%= motocicleta.imagen %>" alt="Imagen de <%= motocicleta.nombre %>">
        </div>
    <% }) %>
</div>

<%- include('includes/foot') %>
